/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

li{
  list-style: none;
}

body {
  background-color: black;
}
.card {
  margin-top: 174px;
  margin-bottom: 175px;
  background-color: #1f1f1f;
  width: 384px;
  height: 611px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.card__img {
  padding-top: 40px;
  padding-left: 148px;
}
.card__heading {
  display: flex;
  flex-direction: column;
}

.card__h1__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.card__h3__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #c4f82a;
}
.card__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.card__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__item {
  background-color: #333333;
  width: 304px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease-in-out;
  margin-bottom: 16px;

  &:hover {
    background-color: #c4f82a;
    color: #333333;
    cursor: pointer;
  }
}
